body{
	background-image: url('../img/fon1.GIF');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
h1{
	font-family: Monotype Corsiva;
	font-weight: bold;
	text-decoration: underline;
	text-align: justify;
	font-size: 24pt;
	
}
.wrapper{
	display: flex;
}
.Var1{
	float: left;
	margin-left: 50px;
}
p{
	width: 400px;
	max-height: 350px;
	border: 5px solid black;
	outline: 5px solid black;
	padding: 5px;
	background: #FFF;
	margin-left: 50px;
	font-size: 24px;
	clear: both;
	
}
